@media screen and (max-width: 1200px){
    .headerclass{
        border: 1px solid black;
        background-color: slategrey;
    }
    main{
        border: 2px solid black;
        background-color: darkkhaki;
    }

    .footerclass{
        border: 1px solid black;
        background-color: cornflowerblue;
    }

    main>article{
        padding: 20px;
        border: 1px solid greenyellow;
        background-color: lightpink;
    }

}

@media screen and (min-width: 1200px) {
    .headerclass {
        border: 1px solid darkred;
        background-color: lightcoral;
    }

    nav > a {
        border: 1px solid black;
        margin: 2px;
        padding: 3px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr auto;
        border: 2px solid black;
        background-color: lightblue;
    }

    .footerclass {
        border: 1px solid black;
        background-color: lightsalmon;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding-top: 80px;
    }

    main > article {
        border: 1px solid black;
        margin: 10px;
        padding: 20px;
        width: auto;
    }

    aside{
        grid-column: 3;
        grid-row: 1/span 3;
    }


}