@media screen and (max-width: 768px){
    .headerclass{
        border: 1px solid black;
        background-color: slategrey;
    }
    main{
        border: 2px solid black;
        background-color: darkkhaki;
    }

    .footerclass{
        border: 1px solid black;
        background-color: cornflowerblue;
    }

    main>article{
        padding: 20px;
        border: 1px solid greenyellow;
        background-color: lightpink;
    }
}

@media screen and (min-width: 768px) {
    .headerclass {
        border: 1px solid darkred;
        background-color: lightcoral;
    }

    nav > a {
        border: 1px solid black;
        margin: 2px;
        padding: 3px;
    }

    main {
        border: 2px solid black;
        background-color: lightblue;
    }

    .footerclass {
        border: 1px solid black;
        background-color: lightsalmon;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    main > article {
        border: 1px solid black;
        margin: 10px;
        padding: 20px;
        width: 33%;
    }
}